// white mode
$background: #f5f5f5;
$primaryText: #1e1e1e;
$secondaryText: #1e1e1e;
$borders: #ddd;

// accents
$accent: #ff4d4d;
$accentSecond: #53c2da;
$highlight: #ffd700;

$background: var(--background-color);
$primaryText: var(--primary-text-color);
$secondaryText: var(--secondary-text-color);
$borders: var(--borders-color);
html {
  --background-color: #f5f5f5;
  --primary-text-color: #1e1e1e;
  --secondary-text-color: #555;
  --borders-color: #ddd;
}
html.dark {
  --background-color: #1e1e1e;
  --primary-text-color: #fff;
  --secondary-text-color: #a0a0a0;
  --borders-color: #333;
}

%dark-theme {
  // dark mode
  $background: #1e1e1e;
  $primaryText: #fff;
  $secondaryText: #a0a0a0;
  $borders: #333;
}

body, html {
  background: $background;
  color: $primaryText;
  &[dark] {
    @extend %dark-theme;
  }
}

a {
  color: $primaryText;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

a:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: $accent;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

a:hover::before,
a:visited::before,
a:active::before,
a:focus::before {
  transform: scaleX(1);
  transform-origin: center left;
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $borders;
  outline: 0;
  font-size: 1.3rem;
  color: $primaryText;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $secondaryText;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primaryText;
  }
  padding-bottom: 6px;  
  border-width: 3px;
  border-image: linear-gradient(to right, $accent,$accentSecond);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
